<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div *ngIf="heroes.length === 0">
    <h2>No existen resultados con el termino: {{ termino }}</h2>
</div>

<div class="card" *ngFor="let heroe of heroes">
    <img [src]="heroe.img" alt="heroe.nombre" class="img-tamanio">

    <div class="container">
        <h4 class="titulo">
            <b>{{ heroe.nombre }}</b>
        </h4>

        <p class="texto">{{ heroe.bio }}</p>
        <p>
            <small class="texto-secundario">{{ heroe.aparicion }}</small>
        </p>

        <button type="button" class="btn-ver-mas" (click)="verHeroe(heroe.idx)">Ver mas...</button>
    </div>
</div>
